---
import Layout from '../../layouts/Layout.astro';
import CardAnime from '../../components/CardAnime.astro';

import {animesEmision} from '../../services/api.ts';

const animesE = await animesEmision();
---

<Layout title="Animes en Emision" >
	<main id="animesem">
		<h5 class="mb-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white"> Animes en Emision </h5>
		<div class="grid md:grid-cols-6 sm:grid-cols-3">

			{
				animesE.map((aE)=>
					 <CardAnime
					 	titulo={aE.titulo}
					 	sinopsis={aE.sinopsis}
					 	imagen={aE.imagen}
					 	calificacion={aE.calificacion}
					 	linkmal={aE.linkmal}
					 	dia_em={aE.dia_em}
					 	is_em={true}
					 />
				)
			}
		</div>

	</main>
</Layout>

