---
import Layout from '../layouts/Layout.astro';
import UpcomingAnimes from '../components/UpcomingAnimes.astro';

import {news, news_direct} from '../services/api.ts';

import CardNews from '../components/CardNews.astro';

const newsP = await news();
const upcomingA = await news_direct();
---

<Layout title="AniMangaList StaticV" >
	<main id="news">
		
		<h5 class="mb-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white"> Animes Por Estrenar </h5>
		<UpcomingAnimes listAnimes={upcomingA}/>
		<div class="bg-slate-300 my-4 w-full h-[1px]"></div>
		<h5 class="mb-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white"> Noticias Recientes </h5>
		<div class="grid md:grid-cols-2 sm:grid-cols-1 ml-3 mr-3">
			{
				newsP.map((np)=>

					<CardNews
						titulo = {np.titulo}
						fecha = {np.fecha}
						url = {np.url}
						imagen = {np.imagen}
						resumen = {np.resumen}


					>
					</CardNews>

				)
			}
			
		</div>
		
	</main>
</Layout>


